extends ../layouts/default

block content
  h1 Science Fiction Cirklen
  .article-content
    p
      img(src="/images/logo.jpg", align="right", width="250px")
      | Science Fiction Cirklen er Danmarks ældste og største forening, som beskæftiger sig med hele science fiction genren.
    p Vi har medlemsmøder, holder kongresser og andre aktiviteter. Vi udgiver både et medlemsblad Novum og et faglitterært tidsskrift Proxima. Desuden udgiver vi bøger, både skøn- og faglitterært om science fiction.
    p På Facebook har vi gruppen #[a(href="https://www.facebook.com/groups/24423896062/") Danske Science Fiction Fans] med små 1000 medlemmer.
    p Medlemskab koster 150kr og dette giver 20% rabat på alle vores udgivelser.

  each newspost in news
    h3 
      a(href=newspost.articleUrl)= newspost.title
    p
      span.glyphicon.glyphicon-time
      |  
      = newspost._.createdAt.format('LL')
    .article-content
      p 
        != newspost.content.brief
      if newspost.content.extended
        p
          a(href=newspost.articleUrl) Læs mere...

block bottom-sidebar
  .well
    h4 Nyeste bøger
      span.pull-right
        a(href='/udgivelser/bog') se alle
    each pub in pubs
      +publication-card(pub)
