extends ../layouts/default
include ../mixins/elements

block content
  if section === 'bog'
    if series
      h2 Bøger i serien "#{series}"
    else
      h2 Bøger
      p De nyeste bogudgivelser fra Science Fiction Cirklen. Røde priser angiver medlemspriser. Kontakt bogredaktøren på #[a(href='mailto:bog@sciencefiction.dk') bog@sciencefiction.dk] for spørgsmål angående bøger.
      p Du kan også downloade vores katalog som #[a(href='/files/bogkatalog.pdf') PDF].
  if section === 'proxima'
    h2 Proxima
    p Proxima er SFC's flagskib. Tidsskriftet er udkommet igennem alle årene. Det tager hele genren under kærlig behandling. Du finder artikler om temaer, forfattere og baggrundsinformation i det hele taget. I hvert nummer er der også gerne en eller flere noveller. Og du finder altid anmeldelser af både danske og udenlandske nyudgivelser, film, tidsskrifter og andet.
    p Prøvenummer på Proxima kan fås ved for 25kr til dækning af porto og ekspedition.
    p Proxima udkommer 2 gange årligt med flad ryg og 120-130 sider pr nummer. 
    p Kontakt Proximaredaktøren på #[a(href='mailto:proxima@sciencefiction.dk') proxima@sciencefiction.dk].
  if section === 'novum'
    h2 Novum
    p Novum er foreningens medlemsblad. Det udkommer 4 gange årligt i marts, juni, sept, dec. Hvis du er medlem af foreningen får du bladet tilsendt automatisk.
    p Novum er selvfølgelig også et aktivt blad, hvor der kommer nye numre. Og så er det netop åbent for medlemmernes meninger, tanker, annoncer og anbefalinger. Har du læst en god bog, set en god film, eller har du på anden måde noget du gerne vil dele med / meddele de andre medlemmer af SFC, så skriv til redaktøren på #[a(href='mailto:novum@sciencefiction.dk') novum@sciencefiction.dk].
  if section === 'cirkelserien'
    h2 Cirkel Serien
    p Cirkel Serien er udgivet i hæfteform med 48 – 68 sider i hvert hæfte. Siderne er som oftest meget tæt skrevet med presset linieafstand og i 9 -10 pt. Så der er tekst i hvert hæfte svarene til en normal bog på 100-120 sider.
    p Cirkel Serien rummer både faglitterære og skønlitterære indslag. Serien udkom med nye numre indtil 2000 med ca. 4 titler pr. år. Fælles for alle hæfterne er, at det drejer sig om science fiction.
    p Cirkel Serien udgives ikke mere, men vi har stadig nogle enkelte eksemplarer tilbage. Skriv og spørg os før du evt. bestiller hvis du er interesseret i en bestemt udgivelse, så ser vi om vi kan finde den.
    p Prisen er 60 kr per nummer - 48 kr for medlemmer.
  if section === 'nyeverdener'
    h2 Nye Verdener
    p Nye Verdener er et novellemagasin udgivet i hæfteform med 48 – 60 sider i hvert hæfte. Siderne er som oftest meget tæt skrevet med presset linieafstand og i 9 -10 pt. Så der er tekst i hvert hæfte svarene til en normal bog på 100-120 sider De fleste af novellerne er i øvrigt illustreret med originalillustrationer af danske kunstnere.
    p Nye Verdener er blevet udgivet i 2 perioder. De første 10 først i 80erne de sidste 8 i begyndelse af 1990erne.
    p Nye Verdener udgives ikke mere, men vi har stadig nogle enkelte eksemplarer tilbage. Skriv og spørg os før du evt. bestiller hvis du er interesseret i en bestemt udgivelse, så ser vi om vi kan finde den.
    p Prisen er 60 kr per nummer - 48 kr for medlemmer.
  .row.publications
    each pub, i in publications.results
      .col-xs-6(style=i > 0 && i % 2 === 0 ? 'clear: left;' : null)
        +publication-card(pub)
  if publications.totalPages > 1
    .row
      .col-xs-12.text-center
        ul.pagination
          if publications.previous
            li: a(href='?page=' + publications.previous): span.glyphicon.glyphicon-chevron-left
          else
            li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
          each p, i in publications.pages
            li(class=publications.currentPage === p ? 'active' : null)
              a(href='?page=' + (p === '...' ? (i ? publications.totalPages : 1) : p ))= p
          if publications.next
            li: a(href='?page=' + publications.next): span.glyphicon.glyphicon-chevron-right
          else
            li.disabled: a(href='?page=' + publications.totalPages): span.glyphicon.glyphicon-chevron-right

