.publication-card {
  color: #333;
  text-decoration: none; }

#content .article-content p {
  font-size: 16px; }

#content .img-responsive {
  width: 100%; }

#content h3 a {
  color: #333;
  text-decoration: none; }

#content h3.subtitle {
  font-size: 18px;
  margin: 0 0 15px 0;
  font-style: italic;
  color: #777; }

a.btn-order {
  background-color: #333;
  width: 100%;
  color: #fff; }
  a.btn-order:hover {
    color: #fff;
    text-decoration: none; }

ol.breadcrumb {
  background-color: #eceeef; }
